*{scroll-behavior:smooth;
  box-sizing: border-box;}

.body {height:100vh;
  width:100%;
  background-attachment: fixed;
  background-color:black;background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  overflow-x: hidden;
  }
  @keyframes magic {
      from {

          opacity: 0;
      }
      to {

          opacity: 1;
      }
  }

.body.animated{animation-name: magic;
animation-duration: 4s;}

.cristal {display:flex;
          position: relative;
          z-index:1;
          left: 10vh;
          width:10%;
          height:10vh;
          }
